
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.header, .hero, .info, .quote, .cta {
    display: flex;
}
 
h1 {

    font-size: 24px;
}

.heroimg {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

/* sections */

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 0%;
}

.hero {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 50px;
    padding-bottom: 70px;
}

.content {
    flex: 1;
}


.heroimage {
    flex: 1;
}

.info {
    background-color: #F9FAF8;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

.infocontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px
    
    
}

.infocontentblock {
    flex-basis: 100px;
    
}

.infoimg {

    display: flex;
    margin: auto;
    height: auto;
    width: 100px;
}

.quote {
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;

}


.quoteauthor {
    text-align: right;
    font-weight: bold;
}

.cta {
    margin: 30px;
    justify-content: center;
    align-items: center;
}

.ctabox, .buttonbox {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 30px;
    
}

.buttonbox {
    align-self: stretch;
    align-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ctabox {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 20px;
    padding-top: 0px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 50px;
}

.ctabutton, .buttonhero {
    background-color: #3882F6;
    color: #E5E7EB;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    border-color: #E5E7EB;
    border-style: solid;
    
}

.buttonhero {
    border-style: none;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Text Styles */

.herotitle {
    font-size: 48px;
    font-weight: 900;
    margin: 0px 0px;
}

p {
    font-size: 18px;
}

.herotext {
    font-size: 18px;
    color: #E5E7EB;
}

.infotitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.intotext {
    font-size: 16px;
    color: darkgray;
}

.quotetext {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.ctatitle {

    font-size: 36px;
    font-weight: 900;
    padding: 0px;
    margin: 20px 0;
}

.footertext {
    text-align: center;
    padding-top: 15px;
    font-size: 16px;
    color: lightgray;
}